@model Vidly.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table style="width:1000px" class="=table table-bordered table-hover">
    <tr>
        <th>Customer</th>
    </tr>
    <tr>
        <td>Alan Smith</td>
    </tr>
    <tr>
        <td>John Kovalski</td>
    </tr>
    <tr>
        <td>LINK:@Html.ActionLink("Janek","Details","Customers",null)</td>
    </tr>
</table>


